  <h1><%= @event.name %></h1>
  <h2>Share This Event</h2>
  <div id="qr-code-container">
    <!-- Initially display QR code or placeholder if not yet generated -->
    <% if @event.qr_code.present? %>
    <%= @qr_code_svg%>
    <% else %>
      <p>No QR code generated yet.</p>
    <% end %>
  </div>
  <button onclick="createOrUpdateQR()">Generate QR Code</button>

  <script>
    function createOrUpdateQR() {
      fetch('<%= event_qr_code_path(@event) %>', { method: 'GET' })
        .then(response => response.json())
        .then(data => {
          document.getElementById('qr-code-container').innerHTML = data.qr_code;
        })
        .catch(error => console.error('Error generating QR code:', error));
    }
  </script>
