<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qapture</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="landing.js" defer></script>
</head>
<body>
    <header>
        <img id="logo" src="logo.png" alt="Qapture Logo">
        <nav class="buttons">
            <a href="/learn_more" class="button">Learn More</a>
            <a href="#" class="button">Scan Here</a>
        </nav>
    </header>
    <main>
        <h1>Where Moments Are Immortalized</h1>
        <section class="email-signup">
            <label for="emailInput" class="visually-hidden">Enter your email here to:</label>
            <input type="email" id="emailInput" placeholder="Capture Moments">
            <button>Join Beta</button>
        </section>
        <div class="confetti-container">
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
            <div class="confetti"></div>
        </div>
    </main>
<div class="dropdown-menu">
    <a href="/events">Mosaics</a>
    <a href="/users/sign_up">Sign Up</a>
    <a href="/users/sign_in">Sign In</a>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const menuToggle = document.querySelector('.menu-toggle');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            menuToggle.addEventListener('click', () => {
                dropdownMenu.classList.toggle('active');
            });

            document.addEventListener('click', function(event) {
                if (!menuToggle.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.classList.remove('active');
                }
            });

            const phrases = ["Capture Moments", "Share Experiences", "Relive Memories", "Join Our Community"];
            let currentPhrase = 0;
            let currentChar = 0;
            let isDeleting = false;

            function cyclePhrases() {
                const input = document.getElementById('emailInput');

                if (input) {
                    if (!isDeleting && currentChar < phrases[currentPhrase].length) {
                        input.placeholder += phrases[currentPhrase].charAt(currentChar);
                        currentChar++;
                        setTimeout(cyclePhrases, 150);
                    } else if (isDeleting && currentChar > 0) {
                        input.placeholder = input.placeholder.substring(0, input.placeholder.length - 1);
                        currentChar--;
                        setTimeout(cyclePhrases, 100);
                    } else if (currentChar === phrases[currentPhrase].length && !isDeleting) {
                        isDeleting = true;
                        setTimeout(cyclePhrases, 2000);
                    } else if (currentChar === 0 && isDeleting) {
                        isDeleting = false;
                        currentPhrase = (currentPhrase + 1) % phrases.length;
                        setTimeout(cyclePhrases, 500);
                    }
                }
            }

            cyclePhrases();
        });
    </script>
</body>
</html>
