<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qapture</title>
<%= javascript_include_tag 'script', 'data-turbolinks-track': 'reload', defer: true %>
<%= stylesheet_link_tag '_landing-page', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header>
        <img id="logo" src="logo.png" alt="Qapture Logo">
        <nav class="buttons">
            <a href="/learn_more" class="button">Learn More</a>
            <a href="<%= new_event_path %>" class="button">Create New Event</a>
        </nav>
    </header>

    <div class="items-container"></div>


    <div class="wrapper">
      <nav>
        <div class="nav-item">
      </nav>
      <div class="header">
      </div>
    </div>

    <main>
        <h1>Where Moments Are Immortalized</h1>
        <section class="email-signup">
            <label for="emailInput" class="visually-hidden">Enter your email here to:</label>
            <input type="email" id="emailInput" placeholder="Capture Moments">
            <button>Join Beta</button>
        </section>
    </main>

    <div class="dropdown-menu">
        <a href="/users/sign_up">Sign Up</a>
        <a href="/users/sign_in">Sign In</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="<%= asset_path('script.js') %>"></script>
    <script>
    // Include additional JavaScript for interactive elements as needed
    </script>
</body>
</html>
