.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &.btn-primary {
    background-color: #8b84d9;
  }

  &.btn-secondary {
    background-color: #8b84d9;
  }

  &.btn-tertiary {
    background-color: #8b84d9;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: #444;
}
