@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #BB86FC;
  --secondary-color: #03DAC5;
  --accent-color: #CF6679;
  --background-color: #f5f5f5;
  --text-color: #444;
  --font-family: 'Courier', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--accent-color);
}

main {
  padding: 40px 0;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  // margin-bottom: 30px;
}

/* Image Styles */
img {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
  width: 30%; /* Sets the image width to 30% of its container */
  // margin: 0 auto; /* Centers the image */
}

.cta-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: var(--text-color);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 10px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  img {
    width: 50%; /* Adjusts image size for smaller screens */
  }
}

.sign-out-button {
  margin-left: 20px;
  background-color: #ff4b4b; /* Red color for sign-out to indicate action */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.sign-out-button:hover {
  background-color: #ff0000;
}
