<div class="sidebar">
    <a href="/" class="nav-link">Home</a>
    <div class="dropdown">
        <a href="#" class="nav-link dropdown-toggle">Events</a>
        <div class="dropdown-content">
            <a href="/events/upcoming">Upcoming Events</a>
            <a href="/events/past">Past Events</a>
        </div>
    </div>
    <a href="/signup" class="nav-link">Sign Up</a>
    <a href="/signin" class="nav-link">Sign In</a>
</div>
